<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Us</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendors/linericon/style.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <link rel="stylesheet" type="text/css" href="/semantic.min.css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="/semantic.min.js"></script>
  </head>
  <body>
    <%include frontpart/navbar%>
    <!--================ Home Banner Area =================-->
    <section class="home_banner_area">
      <div
        class="banner_inner"
        data-slides='["/img/banner/ban1.jpg","/img/banner/ban2.jpg","/img/banner/ban3.jpg"]'
      >
        <div class="container">
          <div class="banner_content">
            <p class="upper_text">Give a hand</p>
            <h2>to make the better world</h2>
            <p>
              That don't lights. Blessed land spirit creature divide our made
              two itself upon you'll dominion waters man second good you they're
              divided upon winged were replenish night
            </p>
            <a class="primary_btn mr-20" href="#">Donate Now</a>
            <a class="primary_btn yellow_btn text-white" href="#">See Causes</a>
          </div>
        </div>
      </div>
    </section>

<!---aboutus text-->
<div style="height:200px"></div>
<!--================ Start About Us Area =================-->
<section class="about_area section_gap_bottom">
		<div class="container">
			<div class="row">
				<div class="single_about row">
					<div class="col-lg-6 col-md-12 text-center about_left">
						<div class="about_thumb">
							<img src="img/about-img.jpg" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-12 about_right">
						<div class="about_content">
							<h2>
								WHO WE <br>
									ARE
							</h2>
							<p><font color="yellow">Enactus VIT Chennai </font>is a student chapter of Enactus in <font color="orange">  VIT University, Chennai Campus</font>. We, as members of Enactus VIT Chennai, remain committed to the cause of improving the current societal conditions and providing sustainable lifestyles to the downtrodden and poor. We began as a small team of just 10 members in August 2015. Since then, the team has grown to become a strong group of motivated individuals working towards the goal of Sustainable development. It has taken up 3 community outreach projects till date. Project Ujjwal is currently running.</p>
							<p>Read more about our on-going projects <a href="/projects">here</a>.
                            </p>
                            <p>With valuable guidance from our Business Advisory Board, partner organisations and advisors, we strive to use entrepreneurial action to positively impact all members of society, living our values of passion, innovation, integrity and collaboration in all that we do.

                            </p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>











    <div class="ui hidden divider"></div>
    <div class="ui container centered mt-4">
      <div class="ui horizontal list mt-4">
        <div class="item">
          <img src="/images/members/Board.jpeg" class="ui tiny circular image">
        <div class="content">
          <div class="ui sub header">Board</div>
          Project Manager
        </div>
      </div>
      <div class="item">
        <img class="ui tiny circular image" src="/images/members/Creative.jpeg">
        <div class="content">
          <div class="ui sub header">Creative</div>
          Coordinator
        </div>
      </div>
      <div class="item">
        <img class="ui tiny circular image" src="/images/members/Finance.jpeg">
        <div class="content">
          <div class="ui sub header">Finance</div>
          Developer
        </div>
      </div>
      <div class="item">
        <img src="/images/members/HR.jpeg" class="ui tiny circular image">
        <div class="content">
          <div class="ui sub header">HR</div>
          Project Manager
        </div>
      </div>
      <div class="item">
        <img src="/images/members/Marketing.jpeg" class="ui tiny circular image">
        <div class="content">
          <div class="ui sub header">Marketing</div>
          Project Manager
        </div>
      </div>
    </div>
    <h1 class="ui header center align">Our Team</h1>
    <hr>
  </div>

  <!-- <div class="ui container mt-4" id="mobi">
    <div class="ui compact menu">
      <div class="ui simple dropdown item">
        Departments
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" id = "adv">Advisory Board</a>
          <a class="item" id = "fin">Finance</a>
          <a class="item" id = "mns">Marketing and Sponsorship</a>
          <a class="item" id = "hr">Human Resource</a>
          <a class="item" id = "cre">Creative</a>
        </div>
      </div>
    </div>
    </div> -->
    <div class="ui container mt-4" >
      <div class="ui top attached tabular menu stacked" id="pc">
        <a class="item" id="adv" >
          Advisory Board
        </a>
        <a class="item" id="fin">
          Finance
        </a>
        <a class="item" id="mns">
          Marketing and Sponsorship
        </a>
        <a class="item" id="hr">
          Human Resource
        </a>
        <a class="item" id="cre">
          Creative
        </a>
      </div>
      <!-- Advisor Board Members -->
      <div class="ui bottom attached segment" id="advMem">
        <div class="ui link cards centered">
                <% for(var i=0; i<advMembers.length; i++) {%>
            <div class="card mySlides1 fade-in" >
            <div class="image">
              <img src="/images/members/<%=advMembers[i].photo%>" />
            </div>
            <div class="content">
              <div class="header"><%=advMembers[i].name%></div>
              <div class="meta">
                <a><%=advMembers[i].desg%></a>
              </div>
              <div class="description">
                    <%=advMembers[i].desc%>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>
          <%}%>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
      </div>

      <!-- Finance Members -->
      <div class="ui bottom attached segment" id="finMem">
        <div class="ui link cards centered">
                <% for(var i=0; i<finMembers.length; i++) {%>

            <div class="card mySlides2 fade-in" >
            <div class="image">
              <img src="/images/members/<%=finMembers[i].photo%>" />
            </div>
            <div class="content">
              <div class="header"><%=finMembers[i].name%></div>
              <div class="meta">
                <a><%=finMembers[i].desg%></a>
              </div>
              <div class="description">
                    <%=finMembers[i].desc%>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
              </div>



              <%}%>
              <button class="w3-button w3-black w3-display-left" onclick="plusDivs2(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs2(1)">&#10095;</button>
            </div>
          </div>

      <!-- MNS members -->
      <div class="ui bottom attached segment" id="mnsMem">
        <div class="ui link cards centered">
            <% for(var i=0; i<mnsMembers.length; i++) {%>
        <div class="card mySlides3 fade-in" >
        <div class="image">
          <img src="/images/members/<%=mnsMembers[i].photo%>" />
        </div>
        <div class="content">
          <div class="header"><%=mnsMembers[i].name%></div>
          <div class="meta">
            <a><%=mnsMembers[i].desg%></a>
          </div>
          <div class="description">
                <%=mnsMembers[i].desc%>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
          </div>
          <%}%>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs3(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs3(1)">&#10095;</button>
        </div>
      </div>

      <!-- HR members -->
      <div class="ui bottom attached segment" id="hrMem">
        <div class="ui link cards centered">
            <% for(var i=0; i<hrMembers.length; i++) {%>
        <div class="card mySlides4 fade-in" >
        <div class="image">
          <img src="/images/members/<%=hrMembers[i].photo%>" />
        </div>
        <div class="content">
          <div class="header"><%=hrMembers[i].name%></div>
          <div class="meta">
            <a><%=hrMembers[i].desg%></a>
          </div>
          <div class="description">
                <%=hrMembers[i].desc%>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
          </div>
          <%}%>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs4(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs4(1)">&#10095;</button>
        </div>
      </div>

      <!-- Creative Members -->
      <div class="ui bottom attached segment" id="creMem">
        <div class="ui link cards centered">
            <% for(var i=0; i<creMembers.length; i++) {%>
        <div class="card mySlides5 fade-in" >
        <div class="image">
          <img src="/images/members/<%=creMembers[i].photo%>" />
        </div>
        <div class="content">
          <div class="header"><%=creMembers[i].name%></div>
          <div class="meta">
            <a><%=creMembers[i].desg%></a>
          </div>
          <div class="description">
                <%=creMembers[i].desc%>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2013
          </span>
          <span>
            <i class="user icon"></i>
            75 Friends
          </span>
        </div>
          </div>
          <%}%>
          <button class="w3-button w3-black w3-display-left" onclick="plusDivs5(-1)">&#10094;</button>
          <button class="w3-button w3-black w3-display-right" onclick="plusDivs5(1)">&#10095;</button>
        </div>
      </div>

    </div>
    <div style="height:100px"></div>
    <%include frontpart/footer%>

    <script>

      if($(window).width() < 767)
      {
        $("#mobi").show();
        $("#pc").hide();
      } else {
        $("#pc").show();
        $("#mobi").hide();
      }

      $(document).ready(function() {
        $("#adv").toggleClass("active");
        $("#advMem").show();
        $("#finMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#adv").on("click", function() {
        $("#adv").addClass("active");
        $("#mns").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#advMem").show();
        $("#finMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#fin").on("click", function() {
        $("#fin").addClass("active");
        $("#mns").removeClass("active");
        $("#adv").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#finMem").show();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#mns").on("click", function() {
        $("#mns").addClass("active");
        $("#adv").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#mnsMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#hr").on("click", function() {
        $("#hr").addClass("active");
        $("#mns").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#adv").removeClass("active");
        $("#hrMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
      });
      $("#cre").on("click", function() {
        $("#mns").removeClass("active");
        $("#cre").addClass("active");
        $("#fin").removeClass("active");
        $("#adv").removeClass("active");
        $("#hr").removeClass("active");
        $("#creMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#hrMem").hide();
      });

    </script>
     <script src="/js/cardslide.js"></script>
  </body>
</html>
