<!DOCTYPE html>
<html lang="en">
  <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	    <!-- Chrome, Firefox OS and Opera -->
	    <meta name="theme-color" content="#4285f4">
	    <!-- Windows Phone -->
	    <meta name="msapplication-navbutton-color" content="#4285f4">
	    <!-- iOS Safari -->
	    <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
	    <title>About Us</title>

	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    <link rel="stylesheet" href="/css/bootstrap.css" />
	    <link rel="stylesheet" href="/vendors/linericon/style.css" />
	    <link rel="stylesheet" href="/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css" />
	    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css" />
	    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	    <!-- main css -->
	    <link rel="stylesheet" href="/css/style.css" />
	    <link rel="stylesheet" href="/css/card.css" />
	    <link rel="stylesheet" href="/css/responsive.css" />
	    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	    <link rel="stylesheet" type="text/css" href="/semantic.min.css" />
	    <style>
	    body{
	        background-image: url(/images/background/bg.jpg);
	    }
	    #adv,#fin,#cre,#hr,#mns:hover{
	      cursor: pointer;

      }

      .chc{
color: white;

      }


	    </style>
	    <script
	      src="https://code.jquery.com/jquery-3.1.1.min.js"
	      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	      crossorigin="anonymous"
	    ></script>
	    <script src="/semantic.min.js"></script>
  </head>
  <body>
    <%include frontpart/navbar%>
    <!--================ Home Banner Area =================-->
    <section class="home_banner_area">
      <div
        class="banner_inner"
        data-slides='["/img/banner/ban11.jpg","/img/banner/ban12.jpg","/img/banner/ban13.jpg"]'
      >
        <div class="container">
          <div class="banner_content">
            <p class="upper_text">Give a hand</p>
            <h2>to make the better world</h2>
            <p>
              That don't lights. Blessed land spirit creature divide our made
              two itself upon you'll dominion waters man second good you they're
              divided upon winged were replenish night
            </p>
            <a class="primary_btn mr-20" href="#">Donate Now</a>
            <a class="primary_btn yellow_btn text-white" href="#">See Causes</a>
          </div>
        </div>
      </div>
    </section>

<!---aboutus text-->
<div style="height:200px"></div>
<!--================ Start About Us Area =================-->
<section class="about_area section_gap_bottom">
		<div class="container">
			<div class="row">
				<div class="single_about row">
					<div class="col-lg-6 col-md-12 text-center about_left">
						<div class="about_thumb">
							<img src="/img/banner/ban3.jpg" class="img-fluid" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-12 about_right">
						<div class="about_content">
							<h2>
								WHO WE
									ARE
							</h2>
							<p><b><font color="black">Enactus VIT Chennai </font></b>is a student chapter of Enactus in <b> <font color="black">  VIT University, Chennai Campus</font></b>. We, as members of Enactus VIT Chennai, remain committed to the cause of improving the current societal conditions and providing sustainable lifestyles to the downtrodden and poor. We began as a small team of just 10 members in August 2015. Since then, the team has grown to become a strong group of motivated individuals working towards the goal of Sustainable development. It has taken up 3 community outreach projects till date. Project Ujjwal is currently running.</p>
							<p>Read more about our on-going projects <a href="/projects">here</a>.
                            </p>
                            <p>With valuable guidance from our Business Advisory Board, partner organisations and advisors, we strive to use entrepreneurial action to positively impact all members of society, living our values of passion, innovation, integrity and collaboration in all that we do.

                            </p>

						</div>
					</div>
				</div>
			</div>
		</div>
</section>







    <!--================Team Area =================-->
     <section class="team_area section_gap">
      <div class="container">
        <div class="main_title">
          <h2>Alumni</h2>
         
        </div>



        <div class="row team_inner">


        <div class="col-lg-4 col-md-4"></div>
        <div class="col-lg-4 col-md-4">

          <!--Carousel -->
          <div id="carousel-team" class="carousel slide" data-ride="carousel">
            
            <!--Carousel Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-team" data-slide-to="0" class="active"></li>
            </ol>


                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="team_item">
                      <div class="team_img">
                        <img class="img-fluid" src="/images/members/prince.jpg" alt="" />
                      </div>
                      <div class="team_name">
                        <h4>Prince Gupta</h4>
                      </div>
                    </div> 
                  </div>
                </div>


                <a class="carousel-control-prev" href="#carousel-team" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-team" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            


        

            <!-- controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
        </div>
        <div class="col-lg-4 col-md-4"></div>

          

 



        </div>
      </div>
    </section>
   
    <!--================End Team Area =================-->



    <div class="ui hidden divider"></div>
    <div class="main_title">
      <h2>Our Team</h2>
      <p>The dilligent members who keep this club up and running</p>
    </div>

    <div class="ui hidden divider"></div>
    <div class="brick container">
	    <div class="bri row">
		    <div class="col-lg-4 col-md-4">
          <br/>
		    			<img src="/images/members/Board.jpeg" class="ui tiny circular image cen" id="adv">

			            <!--Carousel -->
			            <div id="carousel1" class="carousel slide" data-ride="carousel">
			              
			              <!--Carousel Indicators-->
			              <ol class="carousel-indicators">
                      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                      <% for(var i=1; i<adv.length; i++) {%>
			                <li data-target="#carousel1" data-slide-to="<%= i %>"></li>

                      <% } %>
			              </ol>


			                  <div class="carousel-inner">
			                                     
			                    <div class="carousel-item active">
			                      <div class="team_item">
			                        <div class="team_img">
			                          <img class="img-fluid rounded-circle " src="<%=adv[0].img%>" alt="" />
			                        </div>
			                        <div class="team_name">
			                          <h4 class="chc" ><strong><%=adv[0].name%></strong></h4>
			                          <p class="chc"><strong><%=adv[0].deg%></strong></p>
			                          <p class="mt-20 chc">
                                  <strong>
                                    <%=adv[0].desp%>
                                  </strong>
			                          </p>
			                        </div>
			                      </div>
			                    </div>   
			                  
                          <% for(var i=1; i<adv.length; i++) {%>

			                    <div class="carousel-item">
			                      <div class="team_item">
			                        <div class="team_img">
			                          <img class="img-fluid w-50 h-50 rounded-circle " src="<%=adv[i].img%>" alt="" />
			                        </div>
			                        <div class="team_name">
			                          <h4 class="chc"><strong><%=adv[i].name%></strong></h4>
			                          <p class="chc"><strong><%=adv[i].deg%></strong></p>
			                          <p class="mt-20 chc">
                                  <strong>
                                    <%=adv[i].desp%>
                                  </strong>
                                  </p>
			                        </div>
			                      </div> 
			                    </div>    
			                    

<% } %>



			                  
			                  </div>


			                  <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
			                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Previous</span>
			                  </a>
			                  <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
			                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Next</span>
			                  </a>
			              


			          

			              <!-- controls -->
			              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			                <span class="sr-only">Previous</span>
			              </a>
			              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			                <span class="sr-only">Next</span>
			              </a>

			            </div>
		    </div>
		    <div class="col-lg-4 col-md-4">
          <br/>
		    			<img class="ui tiny circular image cen" src="/images/members/Creative.jpeg" id="cre">


			            <!--Carousel -->
			            <div id="carousel2" class="carousel slide" data-ride="carousel">
			              
			              <!--Carousel Indicators-->
			              <ol class="carousel-indicators">
			                <li data-target="#carousel2" data-slide-to="0" class="active"></li>
			                <% for(var i=1; i<cre.length; i++) {%>
                          <li data-target="#carousel2" data-slide-to="<%= i %>"></li>

                          <% } %>
			              </ol>


			                  <div class="carousel-inner">
			                                     
                            <div class="carousel-item active">
                                <div class="team_item">
                                  <div class="team_img">
                                    <img class="img-fluid rounded-circle " src="<%=cre[0].img%>" alt="" />
                                  </div>
                                  <div class="team_name">
                                    <h4 class="chc" ><strong><%=cre[0].name%></strong></h4>
                                    <p class="chc"><strong><%=cre[0].deg%></strong></p>
                                    <p class="mt-20 chc">
                                      <strong>
                                        <%=cre[0].desp%>
                                      </strong>
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <% for(var i=1; i<cre.length; i++) {%>

                                  <div class="carousel-item">
                                    <div class="team_item">
                                      <div class="team_img">
                                        <img class="img-fluid w-50 h-50 rounded-circle " src="<%=cre[i].img%>" alt="" />
                                      </div>
                                      <div class="team_name">
                                        <h4 class="chc"><strong><%=cre[i].name%></strong></h4>
                                        <p class="chc"><strong><%=cre[i].deg%></strong></p>
                                        <p class="mt-20 chc">
                                          <strong>
                                            <%=cre[i].desp%>
                                          </strong>
                                          </p>
                                      </div>
                                    </div>
                                  </div>


        <% } %>

			                  

			                  
			                  </div>


			                  <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
			                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Previous</span>
			                  </a>
			                  <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
			                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Next</span>
			                  </a>
			              


			          

			              <!-- controls -->
			              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			                <span class="sr-only">Previous</span>
			              </a>
			              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			                <span class="sr-only">Next</span>
			              </a>

			            </div>
		    </div>
		    <div class="col-lg-4 col-md-4">
          <br/>
		    			<img src="/images/members/Finance.jpeg" id="fin" class="ui tiny circular image cen">

			            <!--Carousel -->
			            <div id="carousel3" class="carousel slide" data-ride="carousel">
			              
			              <!--Carousel Indicators-->
			              <ol class="carousel-indicators">
			                <li data-target="#carousel3" data-slide-to="0" class="active"></li>
                      <% for(var i=1; i<fin.length; i++) {%>
                          <li data-target="#carousel3" data-slide-to="<%= i %>"></li>

                          <% } %>
			              </ol>


			                  <div class="carousel-inner">
			                                     
                            <div class="carousel-item active">
                                <div class="team_item">
                                  <div class="team_img">
                                    <img class="img-fluid w-50 h-50 rounded-circle " src="<%=fin[0].img%>" alt="" />
                                  </div>
                                  <div class="team_name">
                                    <h4 class="chc" ><strong><%=fin[0].name%></strong></h4>
                                    <p class="chc"><strong><%=fin[0].deg%></strong></p>
                                    <p class="mt-20 chc">
                                      <strong>
                                        <%=fin[0].desp%>
                                      </strong>
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <% for(var i=1; i<fin.length; i++) {%>

                                  <div class="carousel-item">
                                    <div class="team_item">
                                      <div class="team_img">
                                        <img class="img-fluid w-50 h-50 rounded-circle " src="<%=fin[i].img%>" alt="" />
                                      </div>
                                      <div class="team_name">
                                        <h4 class="chc"><strong><%=fin[i].name%></strong></h4>
                                        <p class="chc"><strong><%=fin[i].deg%></strong></p>
                                        <p class="mt-20 chc">
                                          <strong>
                                            <%=fin[i].desp%>
                                          </strong>
                                          </p>
                                      </div>
                                    </div>
                                  </div>


        <% } %>
			                  
			                  </div>


			                  <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
			                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Previous</span>
			                  </a>
			                  <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
			                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Next</span>
			                  </a>
			              


			          

			              <!-- controls -->
			              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			                <span class="sr-only">Previous</span>
			              </a>
			              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			                <span class="sr-only">Next</span>
			              </a>

			            </div>
		    </div>
		</div>
		<!-- <div class="bri row">
		    
		    
		    <div class="col-lg-4 col-md-4 blank">
		    </div>
		    
		</div> -->
		<div class="bri row">
			<div class="col-lg-2 col-md-4 blank">
		    </div>
		    <div class="col-lg-4 col-md-4">
          <br/>
		    			<img src="/images/members/HR.jpeg" class="ui tiny circular image cen" id="hr">

			            <!--Carousel -->
			            <div id="carousel4" class="carousel slide" data-ride="carousel">
			              
			              <!--Carousel Indicators-->
			              <ol class="carousel-indicators">
			                <li data-target="#carousel4" data-slide-to="0" class="active"></li>
			                <% for(var i=1; i<hr.length; i++) {%>
                          <li data-target="#carousel4" data-slide-to="<%= i %>"></li>

                          <% } %>
			              </ol>


			                  <div class="carousel-inner">
			                                     
                            <div class="carousel-item active">
                                <div class="team_item">
                                  <div class="team_img">
                                    <img class="img-fluid w-50 h-50 rounded-circle" src="<%=hr[0].img%>" alt="" />
                                  </div>
                                  <div class="team_name">
                                    <h4 class="chc" ><strong><%=hr[0].name%></strong></h4>
                                    <p class="chc"><strong><%=hr[0].deg%></strong></p>
                                    <p class="mt-20 chc">
                                      <strong>
                                        <%=hr[0].desp%>
                                      </strong>
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <% for(var i=1; i<hr.length; i++) {%>

                                  <div class="carousel-item">
                                    <div class="team_item">
                                      <div class="team_img">
                                        <img class="img-fluid w-50 h-50 rounded-circle" src="<%=hr[i].img%>" alt="" />
                                      </div>
                                      <div class="team_name">
                                        <h4 class="chc"><strong><%=hr[i].name%></strong></h4>
                                        <p class="chc"><strong><%=hr[i].deg%></strong></p>
                                        <p class="mt-20 chc">
                                          <strong>
                                            <%=hr[i].desp%>
                                          </strong>
                                          </p>
                                      </div>
                                    </div>
                                  </div>


        <% } %>
			                  
			                  </div>


			                  <a class="carousel-control-prev" href="#carousel4" role="button" data-slide="prev">
			                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Previous</span>
			                  </a>
			                  <a class="carousel-control-next" href="#carousel4" role="button" data-slide="next">
			                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Next</span>
			                  </a>
			              


			          

			              <!-- controls -->
			              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			                <span class="sr-only">Previous</span>
			              </a>
			              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			                <span class="sr-only">Next</span>
			              </a>

			            </div>
		    </div>
		    <div class="col-lg-4 col-md-4">
          <br/>
		    			<img src="/images/members/Marketing.jpeg" class="ui tiny circular image cen" id="mns">

			            <!--Carousel -->
			            <div id="carousel5" class="carousel slide" data-ride="carousel">
			              
			              <!--Carousel Indicators-->
			              <ol class="carousel-indicators">
			                <li data-target="#carousel5" data-slide-to="0" class="active"></li>
			                <% for(var i=1; i<mns.length; i++) {%>
                          <li data-target="#carousel5" data-slide-to="<%= i %>"></li>

                          <% } %>
			              </ol>


			                  <div class="carousel-inner">
			                                     
                            <div class="carousel-item active">
                                <div class="team_item">
                                  <div class="team_img">
                                    <img class="img-fluid w-50 h-50 rounded-circle " src="<%=mns[0].img%>" alt="" />
                                  </div>
                                  <div class="team_name">
                                    <h4 class="chc" ><strong><%=mns[0].name%></strong></h4>
                                    <p class="chc"><strong><%=mns[0].deg%></strong></p>
                                    <p class="mt-20 chc">
                                      <strong>
                                        <%=mns[0].desp%>
                                      </strong>
                                    </p>
                                  </div>
                                </div>
                              </div>

                              <% for(var i=1; i<mns.length; i++) {%>

                                  <div class="carousel-item">
                                    <div class="team_item">
                                      <div class="team_img">
                                        <img class="img-fluid w-50 h-50 rounded-circle" src="<%=mns[i].img%>" alt="" />
                                      </div>
                                      <div class="team_name">
                                        <h4 class="chc"><strong><%=mns[i].name%></strong></h4>
                                        <p class="chc"><strong><%=mns[i].deg%></strong></p>
                                        <p class="mt-20 chc">
                                          <strong>
                                            <%=mns[i].desp%>
                                          </strong>
                                          </p>
                                      </div>
                                    </div>
                                  </div>


        <% } %>
			                  
			                  </div>


			                  <a class="carousel-control-prev" href="#carousel5" role="button" data-slide="prev">
			                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Previous</span>
			                  </a>
			                  <a class="carousel-control-next" href="#carousel5" role="button" data-slide="next">
			                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			                    <span class="sr-only">Next</span>
			                  </a>
			              


			          

			              <!-- controls -->
			              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			                <span class="sr-only">Previous</span>
			              </a>
			              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			                <span class="sr-only">Next</span>
			              </a>

			            </div>
		    </div>


		    </div>
		</div>
	</div>
    <div style="height:100px"></div>
    <%include frontpart/footer%>

    <script>

      if($(window).width() < 767)
      {
        $("#mobi").show();
        $("#pc").hide();
      } else {
        $("#pc").show();
        $("#mobi").hide();
      }

      $(document).ready(function() {
        $("#adv").toggleClass("active");
        $("#advMem").show();
        $("#finMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#adv").on("click", function() {
        $("#adv").addClass("active");
        $("#mns").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#advMem").show();
        $("#finMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#fin").on("click", function() {
        $("#fin").addClass("active");
        $("#mns").removeClass("active");
        $("#adv").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#finMem").show();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#mns").on("click", function() {
        $("#mns").addClass("active");
        $("#adv").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#hr").removeClass("active");
        $("#mnsMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#creMem").hide();
        $("#hrMem").hide();
      });
      $("#hr").on("click", function() {
        $("#hr").addClass("active");
        $("#mns").removeClass("active");
        $("#fin").removeClass("active");
        $("#cre").removeClass("active");
        $("#adv").removeClass("active");
        $("#hrMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#creMem").hide();
      });
      $("#cre").on("click", function() {
        $("#mns").removeClass("active");
        $("#cre").addClass("active");
        $("#fin").removeClass("active");
        $("#adv").removeClass("active");
        $("#hr").removeClass("active");
        $("#creMem").show();
        $("#finMem").hide();
        $("#advMem").hide();
        $("#mnsMem").hide();
        $("#hrMem").hide();
      });

    </script>
    <script src="/js/cardslide.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
